<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./Stylesheets/style.css")
		title Empty Project
	body
		include utils/_mixins
		include layout/_header
		include layout/_section
		include layout/_footer

		script(src='./JavaScript/javascript.js')
